body {
    background-color: rgba(132, 255, 0, 0.735);
    font: normal 15pt Arial;
} 

    header {
        background-color: transparent;
        border-bottom: none;
        padding: 20px;
      }
      
      header h1 {
        font-family: Arial, sans-serif;
        font-size: 36px;
        font-weight: bold;
        color: white;
        text-align: center;
        text-shadow: 2px 2px #000;
      }


      section {
        background-color: white;
        border-radius: 10px;
        padding: 15px;
        width: 500px;
        margin: auto;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.601);
        
      }
      #contar {
        font: 20px Arial;
        width: 110px;
        height: 35px;
        background-color: #d9e138;
        color: #ffffff;
        border: 1px solid #000000;
        border-radius: 10px;
      }
      

      footer {
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
     }