body {
    background: rgb(32, 109, 8);
    font: normal 15pt Arial;
}
header {
    color: rgb(214, 221, 107);
    text-align: center;
}

header h1 {
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


section  {
    background: rgb(31, 34, 177);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.601);


}
footer {
    color: white;
    text-align: center;
    font-style: italic;

}
/* Estilos para os botões */
input[type="button"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #45a049;
}

/* Estilos específicos para o botão "finalizar" */
input[value="finalizar"] {
    background-color: #25c91f;
}

input[value="finalizar"]:hover {
    background-color: #566815;
}

/* Estilos específicos para o botão "adicionar" */
input[value="adicionar"] {
    background-color: #0a375c;
}

input[value="adicionar"]:hover {
    background-color: #1a344e;
}
